@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}


body{
    font-family: 'Roboto',sans-serif;
    background-color: white;
    margin: auto 0px;
}

ul {
    list-style-type: none;   
}

a {
    text-decoration: none;
    color: white;
}

h3{
    color: white;
}

.mainbar { 
    background-image: linear-gradient(to top left,#694164, #bb00cc, #77faff, rgb(255, 122, 89));
    padding: 120px 0px 0px 0px;
    transform: skew(0deg,-10deg) translateY(-140px);
}

.mainbar .container {
   transform: skew(0deg,10deg);
   
}

.navbar .flex {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 100px;

    padding: 5px;
    
}


.logo {
    align-self: center;
}

.center {
    margin: auto;
    width: 50%;
}

.navbar .flex {
    display: flex;
}

.navbar ul {
    display: flex;
    font-size: small;
    padding-left: 0px;
}

.navbar li {
    padding: 10px;

}

h3:hover {
    color:gainsboro;
}

a:hover {
    color:gainsboro;
}

.navbar button {
     color: white;
     background-color: transparent;
    border-radius: 50px;
    padding: 0px;
   

}


.showcase {
    position: relative;
}

.showcase .center {
        margin: auto;
        width: 70%;
}
  
.showcase .grid {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}


.showcase-text h1{
        font-size: 75px;
        color: rgb(29, 29, 223);
        height: 100px;    
        
}

.showcase-text p{
    
    font-size: 30px;
    color: black;
    
    padding-left: 50px;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}

.showcase-image {
    height: 200px;
}

.showcase-image .card {
    font-size: .6em;
    margin-left: 80px;
    background-color: white;
    padding-bottom: 200px;
    overflow: visible;
    border-radius: 5px;
}

.showcase-image .card h2{
    color: grey;
    padding-top: 10px;
    padding-left: 10px;
 
}

.card h3{
    color: grey;
}

/* .mainbar::.mainbar::after {
    position: absolute;
    height: 200px;
    bottom: -70px;
    background-color:white;
            transform: skewY(-40deg);
        
   
} */

/* .grid::after {

    position: relative;
    background-color:pink;
} */

.paragraph {
    background-color:white;
    color: black; 
    /* webkit-transform: skewY(-4deg);
    moz-transform: skewY(-4deg); */
    
}

.paragraph .container{
    margin: 0px auto;
    
}
.paragraph p {
    line-height: 1.6em;
 
}

.paragraph .login {
    background-color: rgb(25, 12, 49);
    margin-top: 20px;
    padding: 5px 20px;
    color: white;
    border-radius: 70px;
    letter-spacing: .1em;
}  


.paragraph .contact {
    background-color: transparent;
    color: rgb(39, 39, 104);
    font-weight: bold;
    /* font-size: medium; */
    border: none;
    padding-left: 20px;
} 

.contact:hover{
    color: grey;

}

.login:hover{
    color:white; 
    background-color:gray;
}


.logos .flex {
    display: flex;
}

.rowColumn {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: auto auto auto auto;
    padding-top: 80px;
  }
  
.rowColumn img {
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    width: 100px;
    box-sizing: border-box;
}


.contents {
    background-color: rgb(237, 243, 245);
    position: relative;
    
}


.contents .container{
    padding-top: 30px;
    
    
} 

.contents .grid{
    gap: 20px;
}


.contents h3 {
    color: blue;
    
}

.contents h2{
    color:black;
    font-size: 30px;
    font-weight: bold;
}

.contents .grid1 p{
     font-size: 15px;
     line-height: 1.8;
}

.contents .primary {
    background-color: blue;
    margin-top: 20px;
    color:white;
    border-radius: 70px;
    letter-spacing: .1em;
} 

.contents .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
}

.contents .p2{
    margin: 0px;
    height: 140px;
    
}

.contents div {
    gap:10px;
}
 
.logos .container{
    padding: 50px;
}







